# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset files
dataset/

# Selected Models (due to large size limit for Git)
models/*.h5
models/*.keras
models/*.pt
models/*.pth

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
